---
export interface Props {
  device1: string;
  des1: string;
  link1?: string;
  image1?: string;
  device2: string;
  des2: string;
  link2?: string;
  image2?: string;
  device3: string;
  des3: string;
  link3?: string;
  image3?: string;
  className?: string;
}

const {
  device1,
  des1,
  link1,
  image1,
  device2,
  des2,
  link2,
  image2,
  device3,
  des3,
  link3,
  image3,
  className,
} = Astro.props;
---

<section>
  <div class="text-center max-w-5xl mx-auto pt-20">
    <h1 class="text-heading-1 font-bold text-3xl sm:text-4xl md:text-5xl">
      MÁS
      <span
        class="text-transparent bg-clip-text bg-gradient-to-br from-[#29628d] from-20% via-[#29628d] via-30% to-[#29628d] dark:from-[#ffffff] dark:via-[#ffffff] dark:to-[#ffffff]"
      >
        EQUIPO
      </span>{" "}
      QUE PUEDES RENTAR
    </h1>
  </div>

  <div class="container">
    <div class="card">
      <div class="card-inner bg-white dark:bg-gray-950">
        <div class="box">
          <div class="imgBox">
            <img src={image1} alt="Trust & Co." />
          </div>
          <div class="icon bg-white dark:bg-gray-950">
            <a href={link1} class="iconBox">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="48"
                height="48"
                viewBox="0 0 16 16"
                ><path
                  fill="#fff"
                  d="M10.586 4H4V2h10v10h-2V5.414l-8.293 8.293l-1.414-1.414z"
                ></path></svg
              >
            </a>
          </div>
        </div>
      </div>
      <div class="content">
        <h3
          class="text-3xl font-extrabold uppercase"
          style="text-transform: uppercase;"
        >
          {device1}
        </h3>
        <p class="text-lg font-medium">
          {des1}
        </p>
        <ul>
          <li style="--clr-tag:#29628d;" class="branding">eficiencia</li>
          <li style="--clr-tag:#29628d;" class="packaging">portabilidad</li>
          <li style="--clr-tag:#29628d;" class="packaging">durabilidad</li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-inner bg-white dark:bg-gray-950">
        <div class="box">
          <div class="imgBox">
            <img src={image2} alt="Tonic" />
          </div>
          <div class="icon bg-white dark:bg-gray-950">
            <a href={link2} class="iconBox">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="48"
                height="48"
                viewBox="0 0 16 16"
                ><path
                  fill="#fff"
                  d="M10.586 4H4V2h10v10h-2V5.414l-8.293 8.293l-1.414-1.414z"
                ></path></svg
              >
            </a>
          </div>
        </div>
      </div>
      <div class="content">
        <h3
          class="text-3xl font-extrabold uppercase"
          style="text-transform: uppercase;"
        >
          {device2}
        </h3>
        <p class="text-lg font-medium">
          {des2}
        </p>
        <ul>
          <li style="--clr-tag:#29628d;" class="branding">eficiencia</li>
          <li style="--clr-tag:#29628d;" class="marketing">movilidad</li>
          <li style="--clr-tag:#29628d;" class="marketing">precisión</li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-inner bg-white dark:bg-gray-950">
        <div class="box">
          <div class="imgBox">
            <img src={image3} alt="Shower Gel" />
          </div>
          <div class="icon bg-white dark:bg-gray-950">
            <a href={link3} class="iconBox">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="48"
                height="48"
                viewBox="0 0 16 16"
                ><path
                  fill="#fff"
                  d="M10.586 4H4V2h10v10h-2V5.414l-8.293 8.293l-1.414-1.414z"
                ></path></svg
              ></a
            >
          </div>
        </div>
      </div>
      <div class="content">
        <h3
          class="text-3xl font-extrabold uppercase"
          style="text-transform: uppercase;"
        >
          {device3}
        </h3>
        <p class="text-lg font-medium">
          {des3}
        </p>
        <ul>
          <li style="--clr-tag:#29628d;" class="branding">durabilidad</li>
          <li style="--clr-tag:#29628d;" class="packaging">eficiencia</li>
          <li style="--clr-tag:#29628d;" class="packaging">precisión</li>
        </ul>
      </div>
    </div>
  </div>

  <style>
    section {
      padding-block: min(20vh, 2rem);
      width: 80%;
      margin-inline: auto;
    }
    section h2 {
      text-transform: uppercase;
      letter-spacing: 0.025em;
    }
    section a {
      display: inline-block;
      text-decoration: none;
    }
    section .container {
      margin-top: 5em;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 2fr));
      gap: 2rem;
    }
    section .container .card:nth-child(1) .box .icon .iconBox {
      background: #29628d;
    }
    section .container .card:nth-child(2) .box .icon .iconBox {
      background: #29628d;
    }
    section .container .card:nth-child(3) .box .icon .iconBox {
      background: #29628d;
    }
    section .container .card:nth-child(4) .box .icon .iconBox {
      background: #29628d;
    }
    section .container .card ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 0.625rem;
    }
    section .container .card ul li {
      text-transform: uppercase;
      background: var(--clr-tag);
      font-weight: 700;
      padding: 0.375rem 0.625rem;
      border-radius: 0.188rem;
    }
    section .container .card ul .branding {
      color: #fff;
    }
    section .container .card ul .packaging {
      color: #fff;
    }
    section .container .card ul .marketing {
      color: #fff;
    }
    section .container .card .content {
      padding: 0.938rem 0.625rem;
    }
    section .container .card .content h3 {
      text-transform: capitalize;
    }
    section .container .card .content p {
      margin: 0.625rem 0 1.25rem;
    }
    section .container .card-inner {
      position: relative;
      width: inherit;
      height: 24rem;
      background: var(--clr);
      border-radius: 1.25rem;
      border-bottom-right-radius: 0;
      overflow: hidden;
    }
    section .container .card-inner .box {
      width: 100%;
      height: 100%;
      border-radius: 1.25rem;
      overflow: hidden;
    }
    section .container .card-inner .box .imgBox {
      position: absolute;
      inset: 0;
    }
    section .container .card-inner .box .imgBox img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    section .container .card-inner .box .icon {
      position: absolute;
      bottom: -0.375rem;
      right: -0.375rem;
      width: 7rem;
      height: 7rem;
      border-top-left-radius: 50%;
    }
    section .container .card-inner .box .icon:hover .iconBox {
      transform: scale(1.1);
    }
    section .container .card-inner .box .icon::before {
      position: absolute;
      content: "";
      bottom: 0.375rem;
      left: -1.25rem;
      background: transparent;
      width: 1.25rem;
      height: 1.25rem;
      border-bottom-right-radius: 1.25rem;
    }
    section .container .card-inner .box .icon::after {
      position: absolute;
      content: "";
      top: -1.25rem;
      right: 0.375rem;
      background: transparent;
      width: 1.25rem;
      height: 1.25rem;
      border-bottom-right-radius: 1.25rem;
      box-shadow: 0.313rem 0.313rem 0 0.313rem var(--clr);
    }
    section .container .card-inner .box .icon .iconBox {
      position: absolute;
      inset: 0.625rem;
      background: #282828;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
    }
    section .container .card-inner .box .icon .iconBox span {
    }
  </style>
</section>
