---
import GradiantText from "../shared/GradiantText.astro";
import Title from "../shared/Title.astro";

interface Item {
  title: string;
  producto: string;
  fondo: string;
  [key: `propiedad${number}`]: string | undefined;
  [key: `icon${number}`]: string | undefined;
  url: string;
}

interface Props {
  items: Item[];
}

const { items } = Astro.props as Props;
---

<div class="wrapper">
  <div class="text-center max-w-full mx-auto py-2 pb-8">
    <Title> CONOCE <GradiantText>NUESTROS PRODUCTOS</GradiantText></Title>
  </div>
  <div id="products" class="content">
    <div class="bg-shape">
      <img src="/assets/images/LOGO HANDHELD REPAIR_black.svg" alt="" />
    </div>

    <div class="product-img">
      <div class="product-img__item" id="img1">
        {
          items.length > 0 && (
            <img
              src={items[0].producto}
              alt={items[0].title}
              class="product-img__img"
            />
          )
        }
      </div>
    </div>

    <div class="product-slider">
      <button class="prev">
        <span class="icon">
          <svg class="icon icon-arrow-right">
            <use xlink:href="#icon-arrow-left"></use>
          </svg>
        </span>
      </button>
      <button id="next" class="next">
        <span class="icon">
          <svg class="icon icon-arrow-right">
            <use xlink:href="#icon-arrow-right"></use>
          </svg>
        </span>
      </button>

      <div class="product-slider__wrp swiper-wrapper">
        {
          items.map((item, index) => (
            <div
              id={item.title.toLowerCase().replace(/ /g, "-")}
              class="product-slider__item swiper-slide"
              data-target={`img${index + 1}`}
            >
              <div class="product-slider__card">
                <div class="overlay" />
                <img
                  src={item.fondo}
                  alt={item.title}
                  class="product-slider__cover"
                />
                <div class="product-slider__content">
                  <h1 class="product-slider__title">{item.title}</h1>
                  <div class="product-ctr">
                    <section class="properties">
                      {Array.from({ length: 6 }).map((_, i) => {
                        const propiedadKey = `propiedad${i + 1}` as keyof Item;
                        const iconKey = `icon${i + 1}` as keyof Item;
                        if (item[propiedadKey] && item[iconKey]) {
                          return (
                            <div>
                              <div class="box-icon">
                                <img
                                  src={item[iconKey]!}
                                  alt={`icono ${item[propiedadKey]}`}
                                />
                              </div>
                              <p style="margin-block-start: 0em;margin-block-end: 0em;">
                                {item[propiedadKey]}
                              </p>
                            </div>
                          );
                        }
                        return null;
                      })}
                    </section>
                  </div>
                  <div class="product-slider__bottom">
                    <a href={item.url}>
                      <button class="product-slider__cart">
                        Más Información
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>

<svg class="hidden">
  <symbol id="icon-arrow-left" viewBox="0 0 32 32">
    <path
      d="M0.704 17.696l9.856 9.856c0.896 0.896 2.432 0.896 3.328 0s0.896-2.432 0-3.328l-5.792-5.856h21.568c1.312 0 2.368-1.056 2.368-2.368s-1.056-2.368-2.368-2.368h-21.568l5.824-5.824c0.896-0.896 0.896-2.432 0-3.328-0.48-0.48-1.088-0.704-1.696-0.704s-1.216 0.224-1.696 0.704l-9.824 9.824c-0.448 0.448-0.704 1.056-0.704 1.696s0.224 1.248 0.704 1.696z"
    ></path>
  </symbol>
  <symbol id="icon-arrow-right" viewBox="0 0 32 32">
    <path
      d="M31.296 14.336l-9.888-9.888c-0.896-0.896-2.432-0.896-3.328 0s-0.896 2.432 0 3.328l5.824 5.856h-21.536c-1.312 0-2.368 1.056-2.368 2.368s1.056 2.368 2.368 2.368h21.568l-5.856 5.824c-0.896 0.896-0.896 2.432 0 3.328 0.48 0.48 1.088 0.704 1.696 0.704s1.216-0.224 1.696-0.704l9.824-9.824c0.448-0.448 0.704-1.056 0.704-1.696s-0.224-1.248-0.704-1.664z"
    ></path>
  </symbol>
</svg>

<style>
  body {
    font-weight: 500;
  }

  .flexchild {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .div-box-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-direction: column;
  }
  .div-box-card > p {
    margin-block-start: 0em;
    margin-block-end: 0em;
  }

  .heldContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 300px;
    align-items: center;
  }

  .product-spects-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
  }

  .Section-spects {
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 40px;
  }
  .texspects {
    position: relative;
  }
  .list-div-styles {
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
    height: 100%;
    opacity: 0;
    transform: translateY(55px);
    transition: all 0.5s;
  }

  .content {
    height: 600px;
    margin: auto;
    width: 100%;
    max-width: 1050px;
    display: flex;
    align-items: center;
    position: relative;
  }

  .properties {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    gap: 10px;
    width: 100%;
  }

  @media only screen and (min-width: 0px) and (max-width: 500px) {
    .properties {
      grid-template-columns: 1fr 1fr;
    }
    .content-cont {
      bottom: -30%;
      left: 1.98%;
    }
    .special {
    }
    .icons {
      grid-template-columns: 1fr;
      justify-content: space-between;
    }
  }

  @media screen and (max-width: 1200px) {
    .content {
      max-width: 920px;
    }
  }
  @media screen and (max-width: 992px) {
    .content {
      max-width: 920px;
      margin-top: 100px;
      height: auto;
      min-height: 100vh;
    }
  }
  @media screen and (max-width: 767px) {
    .content {
      margin-top: 20px;
    }
  }
  @media screen and (max-width: 576px) {
    .content {
      margin-top: 20px;
      margin-bottom: 20 px;
    }
  }

  .bg-shape {
    height: 100%;
    background-color: rgba(85, 85, 85, 0.133);
    backdrop-filter: blur(12px);
    box-shadow: 0px 30px 139px 0px rgba(10, 22, 31, 0.26);
    border-radius: 30px;
    padding: 45px 40px;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: 1200px) {
    .bg-shape {
      width: 45%;
    }
  }
  @media screen and (max-width: 992px) {
    .bg-shape {
      width: 90%;
      height: 290px;
      align-items: flex-start;
      padding: 50px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  @media screen and (max-width: 767px) {
    .bg-shape {
      padding: 30px;
      width: 95%;
      border-radius: 20px;
    }
  }
  @media screen and (max-width: 576px) {
    .bg-shape {
      height: 200px;
      padding: 30px;
    }
  }
  .bg-shape img {
    -o-object-fit: contain;
    object-fit: contain;
    width: 510px;
    display: block;
    -o-object-position: left center;
    object-position: left center;
    opacity: 0.2;
    transform: rotate(-90deg) translateY(-86%);
    max-width: inherit;
    left: 10px;
    position: absolute;
  }
  @media screen and (max-width: 1200px) {
    .bg-shape img {
      width: 430px;
      left: 10px;
    }
  }
  @media screen and (max-width: 992px) {
    .bg-shape img {
      transform: none;
      width: 100%;
      position: relative;
      left: auto;
      margin-left: auto;
      margin-right: auto;
      -o-object-fit: contain;
      object-fit: contain;
      height: 100%;
      -o-object-position: top center;
      object-position: top center;
    }
  }

  .box-icon {
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
    border-radius: 20px;
    display: grid;
    place-items: center;
  }

  .overlay {
    width: 100%;
    position: absolute;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  img {
    max-width: 100%;
  }

  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  .properties {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    gap: 10px;
    width: 100%;
  }
  @media only screen and (max-width: 500px) {
    .properties {
      grid-template-columns: 1fr 1fr;
    }
  }

  .next,
  .prev {
    z-index: 22;
    display: inline-flex;
    border: none;
    width: 61px;
    height: 61px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    position: absolute;
    top: 50%;
    outline: none;
    cursor: pointer;
    background: #fff;
    color: #29628d;
    box-shadow: 0 2px 8px rgba(41, 98, 141, 0.08);
    transition:
      background 0.2s,
      color 0.2s;
  }
  .next .icon,
  .prev .icon {
    color: #29628d;
    fill: #29628d;
    width: 40px;
    height: 40px;
  }
  .next.disabled,
  .prev.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  .next:focus,
  .prev:focus {
    outline: none;
  }
  .prev {
    left: -30%;
    transform: translate(-100%, -50%);
  }
  @media screen and (max-width: 1200px) {
    .prev {
      left: -21%;
    }
  }
  @media screen and (max-width: 992px) {
    .prev {
      left: 0;
      transform: translate(-50%, -50%);
    }
  }
  .next {
    right: 0;
    transform: translate(50%, -50%);
  }
  @media screen and (max-width: 576px) {
    .next {
      color: white;
    }
  }

  .product-slider {
    width: 75%;
    height: 85%;
    border-radius: 30px;
    box-shadow: 0 28px 79px 0 rgba(10, 22, 31, 0.35);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  @media screen and (max-width: 1200px) {
    .product-slider {
      width: 80%;
    }
  }
  @media screen and (max-width: 992px) {
    .product-slider {
      width: 80%;
      left: 50%;
      transform: translateX(-50%);
      height: auto;
      position: relative;
      top: 0;
      margin-top: 170px;
      margin-bottom: 100px;
    }
    .product-slider br {
      display: none;
    }
  }
  @media screen and (max-width: 767px) {
    .product-slider {
      border-radius: 20px;
    }
  }
  @media screen and (max-width: 576px) {
    .product-slider {
      width: 85%;
      margin-top: 130px;
    }
  }
  .product-slider__wrp {
    height: 100%;
  }
  .product-slider__item {
    position: relative;
    height: 100%;
    width: 100%;
  }
  @media screen and (max-width: 992px) {
    .product-slider__item {
      height: auto;
    }
  }
  .product-slider__item.swiper-slide-active .product-slider__content > * {
    opacity: 1;
    transform: none;
  }
  .product-slider__item.swiper-slide-active
    .product-slider__content
    > *:nth-child(1) {
    transition-delay: 0s;
  }
  .product-slider__item.swiper-slide-active
    .product-slider__content
    > *:nth-child(2) {
    transition-delay: 0.2s;
  }
  .product-slider__item.swiper-slide-active
    .product-slider__content
    > *:nth-child(3) {
    transition-delay: 0.4s;
  }
  .product-slider__item.swiper-slide-active
    .product-slider__content
    > *:nth-child(4) {
    transition-delay: 0.6s;
  }
  .product-slider__item.swiper-slide-active
    .product-slider__content
    > *:nth-child(5) {
    transition-delay: 0.8s;
  }
  .product-slider__item.swiper-slide-active
    .product-slider__content
    > *:nth-child(6) {
    transition-delay: 1s;
  }
  .product-slider__item.swiper-slide-active
    .product-slider__content
    > *:nth-child(7) {
    transition-delay: 1.2s;
  }
  .product-slider__item.swiper-slide-active
    .product-slider__content
    > *:nth-child(8) {
    transition-delay: 1.4s;
  }
  .product-slider__item.swiper-slide-active
    .product-slider__content
    > *:nth-child(9) {
    transition-delay: 1.6s;
  }
  .product-slider__item.swiper-slide-active
    .product-slider__content
    > *:nth-child(10) {
    transition-delay: 1.8s;
  }
  .product-slider__item.swiper-slide-active
    .product-slider__content
    > *:nth-child(11) {
    transition-delay: 2s;
  }
  .product-slider__item.swiper-slide-active
    .product-slider__content
    > *:nth-child(12) {
    transition-delay: 2.2s;
  }
  .product-slider__item.swiper-slide-active
    .product-slider__content
    > *:nth-child(13) {
    transition-delay: 2.4s;
  }
  .product-slider__item.swiper-slide-active
    .product-slider__content
    > *:nth-child(14) {
    transition-delay: 2.6s;
  }
  .product-slider__item.swiper-slide-active
    .product-slider__content
    > *:nth-child(15) {
    transition-delay: 2.8s;
  }
  .product-slider__item.swiper-slide-active circle {
    animation: progress 1s ease-out forwards;
    animation-delay: 0.5s;
    opacity: 0.75;
  }
  .product-slider__card {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    transition: all 0.5s;
    overflow: hidden;
    position: relative;
    border-radius: 30px;
  }
  @media screen and (max-width: 992px) {
    .product-slider__card {
      align-items: flex-start;
    }
  }
  @media screen and (max-width: 767px) {
    .product-slider__card {
      border-radius: 20px;
    }
  }
  .product-slider__cover {
    filter: blur(2px);
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
  @media screen and (max-width: 767px) {
    .product-slider__cover {
      border-radius: 20px;
    }
  }
  .product-slider__content2 {
    color: #fff;
    position: relative;
    z-index: 2;
    width: 100%;
    padding-top: 20px;
    padding-left: 154px;
    padding-right: 80px;
  }
  .product-slider__content {
    color: #fff;
    position: relative;
    z-index: 2;
    width: 100%;
    padding-top: 20px;
    padding-left: 250px;
    padding-right: 80px;
  }
  @media screen and (max-width: 1200px) {
    .product-slider__content {
      padding-left: 220px;
    }
  }
  @media screen and (max-width: 992px) {
    .product-slider__content {
      padding: 20px 60px 100px;
      padding-top: 280px;
      text-align: center;
    }
  }
  @media screen and (max-width: 767px) {
    .product-slider__content {
      padding: 20px 30px 50px;
      padding-top: 300px;
    }
  }
  @media screen and (max-width: 576px) {
    .product-slider__content {
      padding-top: 220px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .product-slider__contentdiferent {
      padding-top: 50px;
    }
  }
  .product-slider__title {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 41px;
    line-height: 1.2em;
    letter-spacing: 2px;
    opacity: 0;
    transform: translateY(55px);
    transition: all 0.5s;
  }
  @media screen and (max-width: 1200px) {
    .product-slider__title {
      font-size: 34px;
    }
  }
  @media screen and (max-width: 576px) {
    .product-slider__title {
      font-size: 24px;
    }
  }
  .product-slider__price {
    display: block;
    font-size: 42px;
    opacity: 0;
    transform: translateY(55px);
    transition: all 0.5s;
  }
  @media screen and (max-width: 1200px) {
    .product-slider__price {
      font-size: 36px;
    }
  }
  @media screen and (max-width: 576px) {
    .product-slider__price {
      font-size: 30px;
    }
  }
  .product-slider__price sup {
    top: -20px;
    font-size: 65%;
  }
  .product-slider__cart {
    box-shadow: 0 7px 99px 0 rgba(51, 102, 204, 0.6);
    background-image: linear-gradient(-45deg, #3867cc 0%, #267ee9 100%);
    border: none;
    color: #fff;
    padding: 10px 30px;
    border-radius: 50px;
    min-height: 50px;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 2px;
    cursor: pointer;
  }

  @media screen and (max-width: 576px) {
    .product-slider__cart {
      width: 100%;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
    }
  }
  .product-slider__fav {
    color: #888e94;
    background: none;
    border: none;
    position: relative;
    padding-left: 25px;
    outline: none;
    cursor: pointer;
  }
  .product-slider__fav:focus {
    outline: none;
  }
  .product-slider__fav .heart {
    display: block;
    position: absolute;
    left: 0;
    transform: translate(-50%, -50%) scale(0.7);
    top: 50%;
    pointer-events: none;
    width: 100px;
    height: 100px;
    background: url("https://res.cloudinary.com/muhammederdem/image/upload/v1536405215/starwars/heart.png")
      no-repeat;
    background-position: 0 0;
    cursor: pointer;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
  }
  .product-slider__fav .heart.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
  }
  .product-slider__bottom {
    margin-top: 20px;
    opacity: 0;
    transform: translateY(55px);
    transition: all 0.5s;
  }

  .product-ctr {
    display: flex;
    align-items: center;
    min-height: 150px;
    margin-top: 40px;
    opacity: 0;
    transform: translateY(55px);
    transition: all 0.5s;
  }
  @media screen and (max-width: 992px) {
    .product-ctr {
      justify-content: center;
    }
  }
  .product-ctr .hr-vertical {
    width: 1px;
    background: #9fa3a7;
    align-self: stretch;
    margin: 0 35px;
    flex-shrink: 0;
    opacity: 0.5;
  }
  @media screen and (max-width: 767px) {
    .product-ctr {
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 40px;
    }
    .product-ctr .hr-vertical {
      width: 100%;
      margin: 35px 0;
      height: 1px;
    }
  }
  @media screen and (max-width: 767px) {
    .product-labels {
      width: 100%;
    }
  }
  .product-labels__checkbox {
    display: none;
  }
  .product-labels__checkbox:checked + .product-labels__txt {
    border-color: #007aff;
    padding: 10px 13px;
  }
  .product-labels__title {
    font-family: "Dosis", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .product-labels__group {
    display: flex;
    margin-bottom: 15px;
  }
  @media screen and (max-width: 992px) {
    .product-labels__group {
      justify-content: center;
    }
  }
  .product-labels__group:last-child {
    margin-bottom: 0;
  }
  .product-labels__item {
    margin: 5px;
    cursor: pointer;
  }
  .product-labels__item:first-child {
    margin-left: 0;
  }
  .product-labels__txt {
    display: block;
    border: 2px solid transparent;
    font-size: 14px;
    padding: 10px 20px;
    padding-left: 0;
    border-radius: 50px;
    transition: all 0.3s;
    letter-spacing: 2px;
  }
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  .product-inf {
    text-align: center;
  }
  @media screen and (max-width: 767px) {
    .product-inf {
      width: 100%;
    }
  }
  .product-inf__percent {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 12px;
    font-family: "Dosis", sans-serif;
    position: relative;
  }
  .product-inf__percent circle {
    display: inline-block;
    transform: rotate(180deg) scaleY(-1);
    transform-origin: 50%;
  }
  .product-inf__percent-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .product-inf__title {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 18px;
  }
  .product-img {
    position: absolute;
    z-index: 2;
    width: 30%;
    left: 26%;
    transform: translateX(-45%);
    max-height: 500px;
    height: 100%;
    /* pointer-events: none; */
  }
  @media screen and (max-width: 1200px) {
    .product-img {
      width: 330px;
      left: 20%;
    }
  }
  @media screen and (max-width: 992px) {
    .product-img {
      width: 320px;
      left: 50%;
      transform: translateX(-50%);
      top: 50px;
      height: 350px;
    }
  }
  @media screen and (max-width: 767px) {
    .product-img {
      width: 300px;
      /* max-width: 400px; */
      top: 40px;
      height: 390px;
    }
  }
  @media screen and (max-width: 576px) {
    .product-img {
      max-width: 200px;
      height: 300px;
    }
    .diferent-ctr {
      flex-direction: column;
      gap: 20px;
    }
  }
  .product-img__item {
    display: flex;
    align-items: center;
    position: absolute;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(-130px);
    opacity: 0;
    transition: all 0.3s;
  }
  .product-img__item.active {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
    transition-delay: 0.3s;
  }
  .product-img__item img {
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center right;
    object-position: center right;
  }

  .social {
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 100%;
    display: flex;
    padding: 20px 55px;
    justify-content: space-between;
  }
  @media screen and (max-width: 576px) {
    .social {
      flex-direction: column;
      bottom: 0;
    }
  }
  .social__item {
    color: rgba(255, 255, 255, 0.75);
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1em;
    display: flex;
    align-items: center;
    transition: all 0.3s;
  }
  .social__item:hover {
    color: #fff;
  }
  @media screen and (max-width: 576px) {
    .social__item {
      margin-bottom: 10px;
    }
  }
  .social__img {
    width: 24px;
    margin-right: 15px;
  }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
></script>
<script type="module">
  import Swiper from "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs";
  var swiper = new Swiper(".product-slider", {
    spaceBetween: 30,
    effect: "fade",
    loop: true, //Cambiar a true
    navigation: {
      nextEl: ".next",
      prevEl: ".prev",
    },
    autoplay: {
      delay: 6000,
      disableOnInteraction: false,
    },
    on: {
      init: function () {
        var index = this.activeIndex;

        var target = $(".product-slider__item").eq(index).data("target");

        $(".product-img__item").removeClass("active");
        $(".product-img__item#" + target).addClass("active");
        $(".product-img__item__link").removeClass("active");
        $(".product-img__item__link#" + target).addClass("active");
      },
    },
  });

  swiper.on("slideChange", function () {
    var index = this.activeIndex;

    var target = $(".product-slider__item").eq(index).data("target");

    // console.log(target);

    $(".product-img__item").removeClass("active");
    $(".product-img__item#" + target).addClass("active");
    $(".product-img__item__link").removeClass("active");
    $(".product-img__item__link#" + target).addClass("active");
  });
</script>
